﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}" />
</head>
<body>
    <div class="navbar">
        <a href="/" class="navbar-brand">Hello Django</a>
        <a href="{% url 'index' %}" class="navbar-item">Home</a>
        <a href="{% url 'about' %}" class="navbar-item">About</a>
    </div>

    <div class="body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; 2018</p>
        </footer>
    </div>
</body>
</html>